<html>
    <head>
        <title>Memet's WebPage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.tamusa.edu/uploadfile/folders/nvdeluna/pdf/pdf-636116966121440561-10.100.150.124.pdf">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="myfamily.html">My Family</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="myTeaching.html">My Teaching</a>
              </li>
              </ul>
            </div>
          </nav>
        <div class="container">
            <!-- <h1>Welcome to mypage</h1> -->
            <img id = "kizlar" src="img/nimet-saadet.jpg" />
            <h2>Memet Bulut</h2>
        </div>
        
    </body>
</html>